<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lista de Vehículos</title>
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
  <h1>Lista de Vehículos</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Nombre del propietario:</th>
      <th>Numero de Placa</th>
      <th>Tipo Vehiculo</th>
      <th>Acción</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
      <td th:text="${usuario.fullNombre}"></td>
      <td th:text="${usuario.vehicle?.placa}"></td>
      <td th:text="${usuario.vehicle?.vehicleType}"></td>
      <td>
        <a class="btn btn-primary btn-sm" th:href="@{/vehicles/edit/{id}(id=${usuario.vehicle?.id})}">Editar</a>
        <a class="btn btn-danger btn-sm" th:href="@{/vehicles/delete/{id}(id=${usuario.vehicle?.id})}" onclick="return confirm('¿Está seguro?')">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a class="btn btn-success" th:href="@{/vehicles/create}">Agregar Vehículo</a>
</div>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
