<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lista de Vehículos</title>
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
  <h1>Lista de Vehículos</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Placa</th>
      <th>Tipo</th>
      <th>Acción</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vehicle : ${vehicles}">
      <td th:text="${vehicle.username}"></td>
      <td th:text="${vehicle.vehicleType}"></td>
      <td>
        <a class="btn btn-info btn-sm" th:href="@{/vehicles/{id}(id=${vehicle.id})}">Ver</a>
        <a class="btn btn-primary btn-sm" th:href="@{/vehicles/edit/{id}(id=${vehicle.id})}">Editar</a>
        <a class="btn btn-danger btn-sm" th:href="@{/vehicles/delete/{id}(id=${vehicle.id})}" onclick="return confirm('¿Está seguro?')">Eliminar</a>
        <a class="btn btn-success btn-sm" th:href="@{/vehicles/calculate-price/{id}(id=${vehicle.id})}">Calcular Precio</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a class="btn btn-success" th:href="@{/vehicles/add}">Agregar Vehículo</a>
</div>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
