<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Vehículo</title>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h1>Editar Vehículo</h1>
    <form th:action="@{/vehicles/update}" method="post">
        <label for="fullName" class="form-label">Nombre del Propietario: </label>
        <input type="text" class="form-control" id="fullName" name="fullName" th:value="${usuario != null ? usuario.fullName : ''}" required>
        <label for="placa" class="form-label">Numero de Placa: </label>
        <input type="text" class="form-control" id="placa" name="placa" th:value="${usuario != null ? usuario.vehicle.placa : ''}" required>
        <div class="mb-3">
            <label for="vehicleType" class="form-label">Tipo de Vehículo</label>
            <select class="form-control" id="vehicleType" name="vehicleType" required>
                <option value="Carro" th:selected="${usuario.vehicle.vehicleType == 'vehicleType'}">Carro</option>
                <option value="Moto" th:selected="${usuario.vehicle.vehicleType == 'vehicleType'}">Moto</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
        <a class="btn btn-secondary" th:href="@{/vehicles}">Cancelar</a>
    </form>
</div>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>