<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Detalle de Vehículo</title>
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
  <h1>Detalle Vehiculo</h1>
  <table class="table">
    <h2>Vehiculo</h2>
    <thead>
    <tr>
      <th scope="col">Placa</th>
      <th scope="col">Tipo</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vehicle : ${vehiculos}">
      <td th:text="${vehicle.placa}"></td>
      <td th:text="${vehicle.vehicleType}"></td>
      <td><a class="btn btn-warning" th:href="@{/vehicles/edit/{id}(id=${vehicle.id})}">Editar</a></td>
      <td><a class="btn btn-danger" th:href="@{/vehicles/delete/{id}(id=${vehicle.id})}" onclick="return confirm('¿Está seguro?')">Eliminar</a></td>
    </tr>
    </tbody>
  </table>
  <a class="btn btn-success" th:href="@{/vehicles/create}">Agregar</a>
</div>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
